.bg-black {
    background-color: #212121;
}

.navbar {
    background-color: #4472c4;
}

.nav-item{
    margin-top: 50px;
    background-color: #212121;
    color: white;
}

.sub-menu {
    margin-top: -170px;
    margin-right: -185px;
    z-index: 1;
    background-color: #212121;
    color: #fff;
    padding: 30px 15px 30px 15px;
    display: none;
}

.sub-menu-item {
    background-color: #70ad47;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.arrival-info {
    margin-top: -50px;
    margin-left: 10%;
}

.unloading-info {
    margin-top: -50px;
    margin-left: 32%;
}


.loading-info {
    margin-top: -50px;
    margin-left: 60%;
}

.departure-info {
    margin-top: -50px;
    margin-left: 85%;
}

.bypass, .load-popup {
    margin-left: 5%;
    z-index: 1;
    width: 90%;
    height: 80%;
    border-radius: 50px;
}

.bypass-reason-input {
    background-color: #212121;
    color: white;
    margin-bottom: 10px;
    padding: 10px;

}

.table-fixed tr, td, th {
    border: none;
}

table td, th {
    padding: 10px 50px 10px 50px;
    border: none;
    text-align: center;
}

table th > p {
    background-color: #4472c4;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

table td > p {
    background-color: #4472c4;
    color: white;
    border-radius: 7px;
    padding: 5px 10px 5px 10px;
}

.dot {
    border: 5px solid #e7e6e6;
}

.bg-blue {
    background-color: #4472c4;
}

.bg-grey {
    background-color: #e7e6e6;
}

.bg-green {
    background-color: #00b050;
}

.bg-red {
    background-color: red;
}

.pointer {
    cursor: pointer
}

.table-fixed  tr, td, th {
    border: 1px solid #eee;
}
